﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="CumpIndicadores.aspx.cs" MasterPageFile="~/Site.Master" Inherits="SICRER_Web_Application.CumpIndicadores" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">

    <link href="Content/jquery-ui-smoothness-1.11.4.min.css" rel="stylesheet" />
    <link href="Content/jquery-ui-smoothness-theme-1.11.4.css" rel="stylesheet" />
    <script src="Scripts/jquery-ui-1.11.4.js"></script>
    <!-- Styles -->
<style>
#chartdiv {
  width: 100%;
  height: 500px;
}													
</style>

<!-- Resources -->
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

<!-- Chart code -->
        <style>
        @media only screen and (max-width: 768px) {
             .form-inline {
                display: block;
                margin-top: 10px;
                margin-bottom:10px;
            }
            .btn-primary btn-default{
                margin-top: 10px;
                margin-bottom:5px;
            }
            .form-control{
                margin-bottom:5px;
            }
        }
    </style>
<script>

    function generar(num, ano, rest) {
        
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            url: 'http://' + '172.24.40.76' + '/serverStat/Datos/' + num + '/' + ano + '/' + rest,
            success:
                function OnGetMemberSuccess(result) {
                    console.log(result);
                    var chart = AmCharts.makeChart("chartdiv", {
                        "theme": "light",
                        "type": "serial",
                        "startDuration": 2,
                        "dataProvider": result,
                        "graphs": [{
                            "balloonText": "[[category]]: <b>[[value]]</b>",
                            "colorField": "color",
                            "fillAlphas": 0.85,
                            "lineAlpha": 0.1,
                            "type": "column",
                            "topRadius": 1,
                            "valueField": "visits"
                        }],
                        "depth3D": 40,
                        "angle": 30,
                        "chartCursor": {
                            "categoryBalloonEnabled": false,
                            "cursorAlpha": 0,
                            "zoomable": false
                        },
                        "categoryField": "country",
                        "categoryAxis": {
                            "gridPosition": "start",
                            "axisAlpha": 0,
                            "gridAlpha": 0

                        },
                        "export": {
                            "enabled": true
                        }

                    }, 0);


                },
            error: function OnGetMemberSuccess(data, status) {
                alert('Error de conexión con el servidor');
            },
        });
    }



</script>


        <div class="col-md-3 space-up">
        <ul class="nav nav-pills nav-stacked well">
            <li class="active"><a href="CumpIndicadores.aspx">Cumplimiento de indicadores</a></li>
            <li><a href="IncumpIndicadores.aspx">Incumplimiento de indicadores</a></li>
            <li><a href="AlasCumpResis.aspx">Cumplimiento de residencias por alas</a></li>
            <li><a href="CuartosDB.aspx">Cuartos buenos y deficientes</a></li>
            <li><a href="LlamadasAtencion.aspx">Registros llamadas de atención</a></li>
        </ul>
    </div>
      
            <div class="col-md-9 space-up" align="center">
             <asp:Panel ID="panel_msjExito_grafs" runat="server" CssClass="exito" Visible="false">
            <asp:Image ID="imgInd" runat="server" ImageUrl="~/img/ok.png"/>
            <asp:Label ID="lbInd" runat="server" Text="" Font-Bold="true"></asp:Label>
            </asp:Panel>

            <asp:Panel  ID="panel_msjError_grafs" runat="server" CssClass="error" Visible="false">
                <asp:Image ID="imgIndError" runat="server" ImageUrl="~/img/error_icon.png"/>
                <asp:Label ID="lbIndError" runat="server" Text="" Font-Bold="true"></asp:Label>
            </asp:Panel>
        <ul class="nav nav-pills nav-stacked well">
                
            <div   class="form-inline">
                

            <asp:DropDownList  runat="server" ID="dd_periodos" DataTextField="Periodo" Width="180px"  CssClass="selectpicker form-control" DataValueField="Periodo" OnSelectedIndexChanged="pers_change_click" AutoPostBack="true">
            </asp:DropDownList>


                <asp:RadioButtonList ID="rbrestriccion" onselectedindexchanged="yesNoRest_click" ValidationGroup="valGroup1" runat="server" CssClass="rbEspacio radio" RepeatDirection="Horizontal" AutoPostBack="true">
                     <asp:ListItem Value="Mejor residencia" Selected="True"/>
                     <asp:ListItem Value="Sin restricción"  />
                </asp:RadioButtonList>

                 
            </div>        
        </ul>
       </div>
        



    <div class="col-md-9 space-up">
        <div id="chartdiv"></div>

    </div>


</asp:Content>